<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verkkokauppa</title>
    <link rel="stylesheet" href="styles1.css" />
</head>

<body>
    <header>
        <h1>Verkkokauppa</h1>
    </header>

    <nav>
        <ul>
            <li><a th:href="@{/}">Kotisivu</a></li>
            <li><a th:href="@{/about}">Tietoa meistä</a></li>
            <li><a th:href="@{/register}">Rekisteröinti</a></li>
            <li><a th:href="@{/tuoteSivu}">Tuotteet</a></li>
            <li><a th:href="@{/ostoskori}">Ostoskori</a></li>
            <li><a th:href="@{/login}">Kirjaudu</a></li>
            <li><a th:href="@{https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&amp;business=your-email@example.com
                    &amp;item_name=Product%20Name&amp;amount=25.00&amp;currency_code=USD}" target="_blank">Pay Now with PayPal</a></li>
        </ul>
    </nav>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Ketä me olemme?</h1>
                <p>Olemme innokkaita ja nuoria vaatealan yrittäjiä</p>
                <a href="https://www.google.com/" class="btn">Onko sinulla kysyttävää?</a>
            </div>

            <p>Sivustomme sisältää erittäin tyylikkäitä vaatteita, jotka on valmistettu laadukkaista raaka-aineista</p>
        </section>
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>
</body>

</html>
