<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verkkokauppa</title>
    <link rel="stylesheet" href="styles1.css">
</head>

<body>
    <header>
        <h1>Verkkokauppa</h1>
    </header>

    <nav>
        <ul>
            <li><a th:href="@{/}">Kotisivu</a></li>
            <li><a th:href="@{/about}">Tietoa meistä</a></li>
            <li><a th:href="@{/register}">Rekisteröinti</a></li>
            <li><a th:href="@{/tuoteSivu}">Tuotteet</a></li>
            <li><a th:href="@{/ostoskori}">Ostoskori</a></li>
            <li><a th:href="@{/login}">Kirjaudu</a></li>
            <li><a th:href="@{https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&amp;business=your-email@example.com
                    &amp;item_name=Product%20Name&amp;amount=25.00&amp;currency_code=USD}" target="_blank">Maksa PayPalilla</a></li>
        </ul>
    </nav>

    <main>
        <p>Tervetuloa muodin mekkaan!</p>
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>
</body>

</html>
