<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verkkokauppa</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Tervetuloa Tuotesivu</h1>
    
    <div id="tuotteet">
        <!-- Tähän tulee tuotteiden listausta -->
        <div th:each="tuote : ${tuotteet}">
            <p><strong>Tuotetunnus:</strong> <span th:text="${tuote.productId}"></span></p>
            <p><strong>Nimi:</strong> <span th:text="${tuote.name}"></span></p>
            <p><strong>Hinta:</strong> <span th:text="${tuote.price}"></span></p>
            <p><strong>Määrä:</strong> <span th:text="${tuote.quantity}"></span></p>
            <hr>
        </div>
    </div>

    <script>
    </script>
</body>

</html>
