<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verkkokauppa</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Tervetuloa Tuotesivulle</h1>
    
        <div>
            <p><strong>Tuotetunnus:</strong> <span th:text="${tuote.productId}"></span></p>
            <p><strong>Nimi:</strong> <span th:text="${tuote.name}"></span></p>
            <p><strong>Hinta:</strong> <span th:text="${tuote.price}">Hinta</span></p>
            <p><strong>Määrä:</strong> <span th:text="${tuote.quantity}">Määrä</span></p>
        </div>
</body>
</html>
