<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verkkokauppa</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Tervetuloa Tuotesivulle</h1>

    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About us</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/tuoteSivu}">Tuotteet</a></li>
            <li><a th:href="@{/ostoskori}">Ostoskori</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a th:href="@{https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&amp;business=your-email@example.com
                    &amp;item_name=Product%20Name&amp;amount=25.00&amp;currency_code=USD}" target="_blank">Pay Now with PayPal</a></li>
        </ul>
    </nav>

    <!-- Näytä tuotteet -->
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Tuotteet</h2>
        <ul>
            <li th:each="product : ${products}">
                <p><strong>Tuotetunnus:</strong> <span th:text="${product.productId}"></span></p>
                <p><strong>Nimi:</strong> <span th:text="${product.name}"></span></p>
                <p><strong>Hinta:</strong> <span th:text="${product.price}"></span></p>
                <p><strong>Määrä:</strong> <span th:text="${product.quantity}"></span></p>
                
                <!-- Lisää ostoskorin lisäämisnappi -->
                <form action="/ostoskori/lisaa-tuote" method="post" enctype="application/x-www-form-urlencoded">   <!-- Tiedonsiirron tyyppi on määritetty application/x-www-form-urlencoded -muotoon -->
                    <input type="hidden" name="tuoteId" th:value="${product.productId}">
                    <button type="submit">Lisää ostoskoriin</button>
                </form>
            </li>
        </ul>
    </div>
</body>

</html>
